<li class="picture__item" data-id-item="{{id}}">
  <img class="picture__img" src="{{webformatURL}}" data-fullview="{{largeImageURL}}" alt="{{tags}}">
  <button class="btn js-delete picture__btn"></button>
</li>